
body {
       cursor: help;
     
       font-family: "Handjet", sans-serif;
       color: white


     }
     
     h1 {
       font-family: "Rubik 80s Fade", system-ui;
        font-weight: 400;
        font-style: normal;
       color: #4e31de;
       font-size: 30px;
       margin-top: 20px;
     }
     img {
        color: #4e31de;
        border-radius: 50px;
        border-style: dashed;
        border-width: 10px;
     }
     button {
       margin: 10px;
       padding: 10px 20px;
       font-size: 16px;
       cursor: pointer;
     }
