
body {
       cursor: help;
     
       font-family: "Handjet", sans-serif;
       color: white;
      cursor: url("cursor.cur"), auto;
      background-image: url("images/textBackDrops/mandelbrot.jpg");
        width: 100%;
     max-width: 100%;
    margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;


     }
     
     h1 {
        text-align: center; font-size: 100px;
        background-size: cover;
       font-family: "Rubik 80s Fade", system-ui;
        font-weight: 400;
        font-style: normal;
       color: #ffffffed;
       font-size: 30px;
       margin-top: 15px;
       margin-bottom: 5px;
       }

      h2 {
         justify-self: center;
         font-size: 50px;
         font-weight: bolder;

      }
      
       
 
     #subHeading {
      background-color: black;
      font-size: 20px;
      margin-bottom: 2px;

     }

     button {
       margin: 10px;
       padding: 10px 20px;
       font-size: 16px;
       cursor: pointer;
     }
     textarea {

       border-radius: 5px;
       border: 1px solid #ccc;
       box-sizing: border-box;
        
        background-image: url("images/textBackDrops/industrial.jpg");
        color: #ffffff;
         font-family: "Handjet", sans-serif;
        font-size: 40px;
      width: 700px;
      height: 400px;
       resize: vertical;     
     }

     #center {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center; 

     }

     #mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

     }
     #wordCount {
        font-size: 15px;
        background-color: black;
     }
    



button {
   background: #111;
  color: #0f0;
  font-family: monospace;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid rgb(88, 158, 88);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-shadow: 0 0 5px rgb(70, 155, 70);
  border-radius: 10px;
  margin-top: 1px;
  
}
button:active {
  transform: scale(0.95);
}

#left, #right {
   width: 25%


}

ul {
   display: flex;
   flex-wrap: wrap;
   width: 100%;

}
ul img{
   width: 100px;
  
}
ul li {
  margin: 10px;

}

#left img {
   width: 200px;
   border-radius: 10px;
   border-style: double;
   display: block;
   justify-self: center;

}


        