
body {
       cursor: help;
     
       font-family: "Handjet", sans-serif;
       color: white;
      cursor: url("cursor.cur"), auto;
      background-image: url("images/textBackDrops/space.jpg");


     }
     
     h1 {
        text-align: center; font-size: 100px;
        background-size: cover;
       font-family: "Rubik 80s Fade", system-ui;
        font-weight: 400;
        font-style: normal;
       color: #ffffff;
       font-size: 30px;
       margin-top: 15px;
       margin-bottom: 5px;
      
       
 
     }
     #subHeading {
      background-color: black;
      font-size: 20px;
      margin-bottom: 2px;

     }
     img {
        color: #4e31de;
        border-radius: 50px;
        border-style: dashed;
        border-width: 10px;
     }
     button {
       margin: 10px;
       padding: 10px 20px;
       font-size: 16px;
       cursor: pointer;
     }
     textarea {

       border-radius: 5px;
       border: 1px solid #ccc;
       box-sizing: border-box;
        
        background-image: url("images/textBackDrops/industrial.jpg");
        color: #ffffff;
         font-family: "Handjet", sans-serif;
        font-size: 40px;
      width: 700px;
      height: 400px;
     }

     #center {
        display: flex;
        flex-direction: column;
        align-items: center; 

     }

     #mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

     }
     #wordCount {
        font-size: 15px;
        background-color: black;
     }
    

     @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

button {
   background: #111;
  color: #0f0;
  font-family: monospace;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid rgb(88, 158, 88);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-shadow: 0 0 5px rgb(70, 155, 70);
  border-radius: 10px;
  margin-top: 1px;
  
}
button:active {
  transform: scale(0.95);
}


        